Build/
build/
bin/
obj/
out/
Debug/
Release/
x64/
x86/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.exe
*.dll
*.lib
*.pdb
*.idb
*.ilk
*.obj
*.o
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.log
*.tlog
*.tmp
Thumbs.db
ehthumbs.db
desktop.ini
*.spv